Table 1 - Number of prescription items1, net ingredient cost2 and average net ingredient cost per item of drugs prescribed,3,4 for the treatment of alcohol dependence, dispensed in the community

In [1]:
from gssutils import *

if is_interactive():
    import requests
    from cachecontrol import CacheControl
    from cachecontrol.caches.file_cache import FileCache
    from cachecontrol.heuristics import LastModified
    from pathlib import Path

    session = CacheControl(requests.Session(),
                           cache=FileCache('.cache'),
                           heuristic=LastModified())

    sourceFolder = Path('in')
    sourceFolder.mkdir(exist_ok=True)

    inputURL = 'https://webarchive.nationalarchives.gov.uk/20180328130416/http://digital.nhs.uk/media/30889/Statistics-on-Alcohol-England-2017-Tables/Any/alc-eng-2017-tab'
    inputFile = sourceFolder / 'alc-eng-2017-tab'
    response = session.get(inputURL)
    with open(inputFile, 'wb') as f:
      f.write(response.content)

In [2]:
tab = loadxlstabs(inputFile, sheetids='Table 1')[0]

Loading in\alc-eng-2017-tab which has size 126229 bytes
Table names: ['Table 1']

In [3]:
observations = tab.excel_ref('C8').expand(DOWN).expand(RIGHT).is_not_blank()
observations

{<F15 41652.0>, <E28 '-'>, <F17 112267.0>, <O16 3113.0>, <I32 15.812645915912698>, <L35 17.024458680158855>, <M27 841.37384>, <M14 132744.0>, <O23 4908.0>, <N20 3901.0>, <J23 10176.0>, <G33 15.200159992069787>, <N21 2749.0>, <O27 2156.6508>, <H29 2380.1972699999997>, <M32 18.100775313235854>, <C10 '-'>, <L21 4493.0>, <H26 1589.06936>, <N10 4359.0>, <I11 160181.0>, <O20 2986.0>, <C23 10120.0>, <O33 43.42745413906284>, <G8 83983.0>, <L26 2384.6333899999995>, <H27 791.12791>, <K35 16.452641503082802>, <N8 139193.0>, <I26 1623.6266699999999>, <D29 1960.23622>, <N17 189005.0>, <C15 36651.0>, <K8 117405.0>, <J15 55052.0>, <J8 107389.0>, <K22 '-'>, <G21 5097.0>, <C29 1515.73007>, <H34 '-'>, <E23 12531.0>, <E10 '-'>, <H15 49533.0>, <G22 '-'>, <F26 1532.29648>, <G28 '-'>, <D11 109112.0>, <C34 '-'>, <N22 363.0>, <K9 60842.0>, <F10 '-'>, <J11 167764.0>, <N28 273.45128000000005>, <G14 79708.0>, <K17 167468.0>, <H22 '-'>, <G35 17.857434144454448>, <G32 19.45338699498708>, <K32 18.43856496742047>, <M11 194706.0>, <H28 '-'>, <J20 4853.0>, <J33 13.024101697722568>, <F34 '-'>, <K10 '-'>, <M20 4852.0>, <H14 90051.0>, <G27 766.6960700000001>, <C17 97961.0>, <E22 '-'>, <F9 46936.0>, <H8 94921.0>, <L16 177.0>, <N34 62.73257169075477>, <L8 126558.0>, <M22 162.0>, <N33 21.948515991308653>, <C14 61310.0>, <O11 188331.0>, <K21 5543.0>, <J35 14.862398905605495>, <C22 '-'>, <I35 15.070394303943662>, <E11 115868.0>, <M15 51179.0>, <H23 10861.0>, <D33 14.166485175457275>, <G26 1633.7538>, <O26 2501.4095000000007>, <D27 598.6898299999999>, <F35 18.305133812223094>, <D21 5410.0>, <O22 251.0>, <I14 98242.0>, <L20 5019.0>, <I10 '-'>, <J17 157588.0>, <D22 '-'>, <D34 '-'>, <G23 9372.0>, <D8 66851.0>, <K28 '-'>, <M26 2490.5942800000003>, <N23 7013.0>, <N35 20.026976706220857>, <G15 45343.0>, <M9 55620.0>, <J26 1707.04535>, <N32 17.9653129108504>, <I34 '-'>, <D10 '-'>, <G11 134423.0>, <E20 5894.0>, <E16 '-'>, <D28 '-'>, <N14 135292.0>, <G17 125051.0>, <F14 70615.0>, <O17 183423.0>, <J21 5323.0>, <K26 2164.77972>, <F11 122778.0>, <L11 183810.0>, <C35 14.024019670432361>, <N27 1151.5508399999999>, <D17 97763.0>, <L28 13.468357>, <C21 4567.0>, <H20 4870.0>, <E17 103337.0>, <M8 137596.0>, <J27 786.33014>, <C8 66863.0>, <O10 3364.0>, <D9 42261.0>, <F8 75842.0>, <H17 139584.0>, <H33 14.24839546862618>, <F21 5284.0>, <M29 3424.5800700000004>, <I28 '-'>, <D23 11349.0>, <L22 38.0>, <E35 18.483200797459176>, <G9 50440.0>, <I33 13.744985565719453>, <I22 '-'>, <O9 49661.0>, <F27 714.93673>, <I8 102679.0>, <M21 4441.0>, <E14 64322.0>, <H32 16.740967330727656>, <J28 '-'>, <I23 9725.0>, <G10 '-'>, <L14 121539.0>, <J22 '-'>, <J34 '-'>, <F23 10511.0>, <K33 12.620463988692023>, <G16 '-'>, <M28 92.61195000000001>, <N16 3996.0>, <H21 5991.0>, <G20 4275.0>, <C32 20.486469796449455>, <J9 60375.0>, <E32 20.742091688504043>, <O8 135306.0>, <H10 '-'>, <I27 790.3641600000001>, <C28 '-'>, <N15 49717.0>, <C9 41218.0>, <H16 '-'>, <N29 3925.64792>, <M16 1328.0>, <J14 102536.0>, <J16 '-'>, <N26 2500.6458>, <G34 '-'>, <I9 57502.0>, <C27 455.80841>, <J10 '-'>, <L27 733.4425699999999>, <D14 60912.0>, <L10 215.0>, <K23 10779.0>, <E9 45652.0>, <H9 55524.0>, <M10 1490.0>, <F22 '-'>, <K16 '-'>, <O21 1671.0>, <D35 17.965358713981963>, <L15 52544.0>, <K14 112169.0>, <J29 2493.3754900000004>, <C16 '-'>, <K34 '-'>, <K27 767.85427>, <I17 150456.0>, <O14 132320.0>, <C26 1369.78683>, <M33 15.127181589356347>, <F20 5227.0>, <F28 '-'>, <E34 '-'>, <L34 52.04553488372093>, <D26 1361.54639>, <D16 '-'>, <F16 '-'>, <M17 185251.0>, <F33 15.239157914918092>, <J32 15.89590507407649>, <C11 108081.0>, <N11 196018.0>, <I21 5288.0>, <I15 52214.0>, <H11 150445.0>, <D32 20.366881422865777>, <F32 20.20286863306127>, <E15 39015.0>, <L32 18.842217718358377>, <O34 62.018439357907255>, <K20 5236.0>, <O29 4866.69033>, <E21 6637.0>, <K15 55299.0>, <N9 52466.0>, <L29 3129.26575>, <E8 70216.0>, <I16 '-'>, <L17 174260.0>, <L23 9550.0>, <G29 2400.44987>, <I29 2413.9908299999997>, <F29 2247.23321>, <E29 2141.6115099999997>, <O15 47990.0>, <K11 178247.0>, <C20 5553.0>, <L33 12.859066395497658>, <L9 57037.0>, <O32 18.487055267320006>, <O35 25.841153766506842>, <E27 686.1848>, <M35 17.588467073433794>, <C33 11.058479547770391>, <E33 15.030771926750198>, <O28 208.63003>, <H35 15.821046030110669>, <D15 36851.0>, <M23 9455.0>, <M34 62.1556711409396>, <K29 2932.6339900000003>, <E26 1456.42671>, <D20 5939.0>, <I20 4437.0>}

In [4]:
category = tab.excel_ref('A').expand(DOWN).by_index([7,13,19,25,31])
category

{<A25 'Net Ingredient Cost (£ 000s)'>, <A7 'Prescription items'>, <A31 'Average Net Ingredient Cost per item (£)'>, <A13 'Prescribed in primary care'>, <A19 'Prescribed in NHS hospitals'>}

In [5]:
treatment = tab.excel_ref('A8').expand(DOWN).is_not_blank() - category
treatment

{<A40 2.0>, <A8 'Acamprosate Calcium'>, <A34 'Nalmefene6'>, <A33 'Disulfiram'>, <A16 '   Nalmefene6'>, <A27 'Disulfiram'>, <A49 'Copyright © 2017, re-used with the permission of NHS Prescription Services'>, <A21 'Disulfiram'>, <A29 'Total'>, <A43 5.0>, <A35 'Total'>, <A47 'Prescribing Analysis and Cost (PACT) from NHS Prescription Services of the Business Service Authority. Health and Social Care Information Centre'>, <A15 'Disulfiram'>, <A26 'Acamprosate Calcium'>, <A17 'Total'>, <A9 'Disulfiram'>, <A32 'Acamprosate Calcium'>, <A22 '   Nalmefene6'>, <A14 'Acamprosate Calcium'>, <A44 6.0>, <A50 'Copyright © 2017. Health and Social Care Information Centre, Lifestyles Statistics. All rights reserved.'>, <A42 4.0>, <A23 'Total'>, <A46 'Source'>, <A10 'Nalmefene6'>, <A39 1.0>, <A20 'Acamprosate Calcium'>, <A11 'Total'>, <A41 3.0>, <A28 'Nalmefene6'>, <A38 'Footnotes'>}

In [6]:
period = tab.excel_ref('C5').expand(RIGHT).is_not_blank() 
period

{<K5 2012.0>, <L5 '20136'>, <O5 2016.0>, <C5 2004.0>, <I5 2010.0>, <D5 2005.0>, <H5 2009.0>, <F5 '20075'>, <G5 '20085'>, <J5 2011.0>, <E5 2006.0>, <M5 '2014'>, <N5 2015.0>}

In [7]:
Dimensions = [
            HDim(category,'Category',CLOSEST,ABOVE),
            HDim(treatment,'Treatment of alcohol dependence',DIRECTLY,LEFT),
            HDim(period,'Period',DIRECTLY,ABOVE),
            HDimConst('Unit','People'),
            HDimConst('Measure Type','Count')
            ]

In [8]:
c1 = ConversionSegment(observations, Dimensions, processTIMEUNIT=True)
# if is_interactive():
#     savepreviewhtml(c1)

In [9]:
new_table = c1.topandas()
new_table

,OBS,DATAMARKER,Category,Treatment of alcohol dependence,Period,Unit,Measure Type
0,66863,NaN,Prescription items,Acamprosate Calcium,2004.0,People,Count
1,66851,NaN,Prescription items,Acamprosate Calcium,2005.0,People,Count
2,70216,NaN,Prescription items,Acamprosate Calcium,2006.0,People,Count
3,75842,NaN,Prescription items,Acamprosate Calcium,20075,People,Count
4,83983,NaN,Prescription items,Acamprosate Calcium,20085,People,Count
5,94921,NaN,Prescription items,Acamprosate Calcium,2009.0,People,Count
6,102679,NaN,Prescription items,Acamprosate Calcium,2010.0,People,Count
7,107389,NaN,Prescription items,Acamprosate Calcium,2011.0,People,Count
8,117405,NaN,Prescription items,Acamprosate Calcium,2012.0,People,Count
9,126558,NaN,Prescription items,Acamprosate Calcium,20136,People,Count
10,137596,NaN,Prescription items,Acamprosate Calcium,2014,People,Count
11,139193,NaN,Prescription items,Acamprosate Calcium,2015.0,People,Count
12,135306,NaN,Prescription items,Acamprosate Calcium,2016.0,People,Count
13,41218,NaN,Prescription items,Disulfiram,2004.0,People,Count
14,42261,NaN,Prescription items,Disulfiram,2005.0,People,Count
15,45652,NaN,Prescription items,Disulfiram,2006.0,People,Count
16,46936,NaN,Prescription items,Disulfiram,20075,People,Count
17,50440,NaN,Prescription items,Disulfiram,20085,People,Count
18,55524,NaN,Prescription items,Disulfiram,2009.0,People,Count
19,57502,NaN,Prescription items,Disulfiram,2010.0,People,Count
20,60375,NaN,Prescription items,Disulfiram,2011.0,People,Count
21,60842,NaN,Prescription items,Disulfiram,2012.0,People,Count
22,57037,NaN,Prescription items,Disulfiram,20136,People,Count
23,55620,NaN,Prescription items,Disulfiram,2014,People,Count
24,52466,NaN,Prescription items,Disulfiram,2015.0,People,Count
25,49661,NaN,Prescription items,Disulfiram,2016.0,People,Count
26,,-,Prescription items,Nalmefene6,2004.0,People,Count
27,,-,Prescription items,Nalmefene6,2005.0,People,Count
28,,-,Prescription items,Nalmefene6,2006.0,People,Count
29,,-,Prescription items,Nalmefene6,20075,People,Count
...,...,...,...,...,...,...,...
230,12.8591,NaN,Average Net Ingredient Cost per item (£),Disulfiram,20136,People,Count
231,15.1272,NaN,Average Net Ingredient Cost per item (£),Disulfiram,2014,People,Count
232,21.9485,NaN,Average Net Ingredient Cost per item (£),Disulfiram,2015.0,People,Count
233,43.4275,NaN,Average Net Ingredient Cost per item (£),Disulfiram,2016.0,People,Count
234,,-,Average Net Ingredient Cost per item (£),Nalmefene6,2004.0,People,Count
235,,-,Average Net Ingredient Cost per item (£),Nalmefene6,2005.0,People,Count
236,,-,Average Net Ingredient Cost per item (£),Nalmefene6,2006.0,People,Count
237,,-,Average Net Ingredient Cost per item (£),Nalmefene6,20075,People,Count
238,,-,Average Net Ingredient Cost per item (£),Nalmefene6,20085,People,Count
239,,-,Average Net Ingredient Cost per item (£),Nalmefene6,2009.0,People,Count
240,,-,Average Net Ingredient Cost per item (£),Nalmefene6,2010.0,People,Count
241,,-,Average Net Ingredient Cost per item (£),Nalmefene6,2011.0,People,Count
242,,-,Average Net Ingredient Cost per item (£),Nalmefene6,2012.0,People,Count
243,52.0455,NaN,Average Net Ingredient Cost per item (£),Nalmefene6,20136,People,Count
244,62.1557,NaN,Average Net Ingredient Cost per item (£),Nalmefene6,2014,People,Count
245,62.7326,NaN,Average Net Ingredient Cost per item (£),Nalmefene6,2015.0,People,Count
246,62.0184,NaN,Average Net Ingredient Cost per item (£),Nalmefene6,2016.0,People,Count
247,14.024,NaN,Average Net Ingredient Cost per item (£),Total,2004.0,People,Count
248,17.9654,NaN,Average Net Ingredient Cost per item (£),Total,2005.0,People,Count
249,18.4832,NaN,Average Net Ingredient Cost per item (£),Total,2006.0,People,Count
250,18.3051,NaN,Average Net Ingredient Cost per item (£),Total,20075,People,Count
251,17.8574,NaN,Average Net Ingredient Cost per item (£),Total,20085,People,Count
252,15.821,NaN,Average Net Ingredient Cost per item (£),Total,2009.0,People,Count
253,15.0704,NaN,Average Net Ingredient Cost per item (£),Total,2010.0,People,Count
254,14.8624,NaN,Average Net Ingredient Cost per item (£),Total,2011.0,People,Count
255,16.4526,NaN,Average Net Ingredient Cost per item (£),Total,2012.0,People,Count
256,17.0245,NaN,Average Net Ingredient Cost per item (£),Total,20136,People,Count
257,17.5885,NaN,Average Net Ingredient Cost per item (£),Total,2014,People,Count
258,20.027,NaN,Average Net Ingredient Cost per item (£),Total,2015.0,People,Count
259,25.8412,NaN,Average Net Ingredient Cost per item (£),Total,2016.0,People,Count

In [10]:
new_table = new_table[new_table['OBS'] != '' ]

In [11]:
new_table.columns = ['Value' if x=='OBS' else x for x in new_table.columns]

In [12]:
new_table.head()

,Value,DATAMARKER,Category,Treatment of alcohol dependence,Period,Unit,Measure Type
0,66863,NaN,Prescription items,Acamprosate Calcium,2004.0,People,Count
1,66851,NaN,Prescription items,Acamprosate Calcium,2005.0,People,Count
2,70216,NaN,Prescription items,Acamprosate Calcium,2006.0,People,Count
3,75842,NaN,Prescription items,Acamprosate Calcium,20075,People,Count
4,83983,NaN,Prescription items,Acamprosate Calcium,20085,People,Count

In [13]:
new_table['Treatment of alcohol dependence'] = new_table['Treatment of alcohol dependence'].map(
    lambda x: {
        'Total' : 'All' 
        }.get(x, x))

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [14]:
new_table.head()

,Value,DATAMARKER,Category,Treatment of alcohol dependence,Period,Unit,Measure Type
0,66863,NaN,Prescription items,Acamprosate Calcium,2004.0,People,Count
1,66851,NaN,Prescription items,Acamprosate Calcium,2005.0,People,Count
2,70216,NaN,Prescription items,Acamprosate Calcium,2006.0,People,Count
3,75842,NaN,Prescription items,Acamprosate Calcium,20075,People,Count
4,83983,NaN,Prescription items,Acamprosate Calcium,20085,People,Count

In [15]:
new_table.tail()

,Value,DATAMARKER,Category,Treatment of alcohol dependence,Period,Unit,Measure Type
255,16.4526,NaN,Average Net Ingredient Cost per item (£),All,2012.0,People,Count
256,17.0245,NaN,Average Net Ingredient Cost per item (£),All,20136,People,Count
257,17.5885,NaN,Average Net Ingredient Cost per item (£),All,2014,People,Count
258,20.027,NaN,Average Net Ingredient Cost per item (£),All,2015.0,People,Count
259,25.8412,NaN,Average Net Ingredient Cost per item (£),All,2016.0,People,Count

In [16]:
new_table.dtypes

Value                              object
DATAMARKER                         object
Category                           object
Treatment of alcohol dependence    object
Period                             object
Unit                               object
Measure Type                       object
dtype: object

In [17]:
new_table['Value'] = new_table['Value'].astype(int)

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [18]:
new_table['Period'] = pd.to_numeric(new_table['Period'], errors='coerce').fillna(0)

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [19]:
new_table['Period'] = new_table['Period'].astype(int)

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [20]:
new_table.head(3)

,Value,DATAMARKER,Category,Treatment of alcohol dependence,Period,Unit,Measure Type
0,66863,NaN,Prescription items,Acamprosate Calcium,2004,People,Count
1,66851,NaN,Prescription items,Acamprosate Calcium,2005,People,Count
2,70216,NaN,Prescription items,Acamprosate Calcium,2006,People,Count

In [21]:
def user_perc(x,y):
    
    if (str(x) ==  'Net Ingredient Cost (£ 000s)') | (str(x) == 'Average Net Ingredient Cost per item (£)'): 
        
        return 'GBP Total'
    else:
        return y
    
new_table['Measure Type'] = new_table.apply(lambda row: user_perc(row['Category'], row['Measure Type']), axis = 1)

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':

In [22]:
def user_perc(x,y):
    
    if str(x) ==  'Net Ingredient Cost (£ 000s)': 
        
        return '£ 000s'
    else:
        return y
    
new_table['Unit'] = new_table.apply(lambda row: user_perc(row['Category'], row['Unit']), axis = 1)

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':

In [23]:
def user_perc(x,y):
    
    if str(x) ==  'Average Net Ingredient Cost per item (£)': 
        
        return '£'
    else:
        return y
    
new_table['Unit'] = new_table.apply(lambda row: user_perc(row['Category'], row['Unit']), axis = 1)

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':

In [24]:
new_table = new_table[['Period','Category','Treatment of alcohol dependence','Measure Type','Value','Unit']]

In [25]:
if is_interactive():
    SubstancetinationFolder = Path('out')
    SubstancetinationFolder.mkdir(exist_ok=True, parents=True)
    new_table.to_csv(SubstancetinationFolder / ('table1.csv'), index = False)

In [26]:
new_table.head()

,Period,Category,Treatment of alcohol dependence,Measure Type,Value,Unit
0,2004,Prescription items,Acamprosate Calcium,Count,66863,People
1,2005,Prescription items,Acamprosate Calcium,Count,66851,People
2,2006,Prescription items,Acamprosate Calcium,Count,70216,People
3,20075,Prescription items,Acamprosate Calcium,Count,75842,People
4,20085,Prescription items,Acamprosate Calcium,Count,83983,People